@import "@/assets/styles/_variables.scss";

.sidebar {
	@include component();
	height: 500px;
	padding: 15px 10px;
}

.links {
	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
		position: relative;
	}
}

.indicator {

	width: 15px;
	height: 15px;
	background-color: var(--color-link);
	border-radius: 50%;
}
