@import "@/assets/styles/_variables.scss";

//.ownerPageCover {
//	@include component(#ccc);
//	height: 250px;
//}
//
//.profileHeader {
//	@include component();
//	min-height: 100px;
//	position: relative;
//	top: -25px;
//	display: flex;
//	justify-content: space-between;
//}
//
//.profileHeaderPhoto {
//	max-width: 150px;
//	width: 100%;
//	margin-left: 20px;
//}
//
//.profileHeaderAva {
//	width: 150px;
//	height: 150px;
//	position: absolute;
//	bottom: 20%;
//}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.info {
	h2 {
		margin-bottom: 15px;
	}
}

.actions {
	button {
			font-weight: 500;
		font-size: 14px;
	}
}
